*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    font-family: sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
}

.container{
    position: relative;    
}

.clock{
    height: 300px;
    width: 300px;
    background-color: rgb(45, 38, 38);
    border-radius: 50%;
    border: 3px solid rgb(77, 72, 72);
    box-shadow: 0px 0px 30px rgb(116, 113, 113);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}

.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i{
    position: absolute;
    width: 4px;
    height: var(--h);
    background-color: var(--clr);
    border-radius: 8px;
}
